<div class="p-3 titulo bg-primary text-white text-center">
    <h1>antiguo testamento</h1>
    </div>
<div class="container text-center">
    <div class="row row-cols-2">
      <div class="col"><button type="button" class="btn btn-outline-primary" (click)="dirigirCreacion()">creacion</button></div>
      <div class="col"><button type="button" class="btn btn-outline-primary" (click)="dirigirPatriarcas()">patriarcas</button></div>
      <div class="col"><button type="button" class="btn btn-outline-primary" (click)="dirigirExodo()">exodo</button></div>
      <div class="col"><button type="button" class="btn btn-outline-primary" (click)="dirigirAsentamiento()">asentamiento</button></div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col"><button type="button" class="btn btn-outline-primary" (click)="dirigirJueces()">jueces</button></div>
      <div class="col"><button type="button" class="btn btn-outline-primary" (click)="dirigirReinoUnido()">reino unido</button></div>
      <div class="col"><button type="button" class="btn btn-outline-primary" (click)="dirigirReinoDividido()">reino dividido</button></div>
      <div class="col"><button type="button" class="btn btn-outline-primary" (click)="dirigirCautiverio()">cautiverio</button></div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col"><button type="button" class="btn btn-outline-primary" (click)="dirigirRestauracion()">restauracion</button></div>
      <div class="col"><button type="button" class="btn btn-outline-primary" (click)="dirigirSilencio()">silencio</button></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>













<router-outlet></router-outlet>